body{
  background-color:#ecf0f1;
}

.center{
  margin: auto;
  position: absolute;
  top: 40%; left: 50%;
  transform: translate(-50%,-50%);
}

table{
  border-collapse:separate; 
  border-spacing:2em;
}

table td{
  height:0.5em;
  width:0.5em;
  background-color:white;
  border-radius:50%;
}

.num1{
  background-color:#FF9999 !important;
  box-shadow: 0px 0px 15px 2px rgba(255, 153, 153,.7);
}

.num0{
  background-color:white !important;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,.2);
}

p{
  text-align:Center;
  color:#FF9999;
  font-family:arial;
  font-size:28px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.seconds:after{
  position:absolute;
  color:#bdc3c7;
  font-family: 'Ubuntu Mono', sans-serif;
}

.minutes:after{
  position:absolute;
  color:#bdc3c7;
  font-family: 'Ubuntu Mono', sans-serif;
}
.hours:after{
  position:absolute;
  color:#bdc3c7;
  font-family: 'Ubuntu Mono', sans-serif;
}
.years:after{
  position:absolute;
  color:#bdc3c7;
  font-family: 'Ubuntu Mono', sans-serif;
}
.months:after{
  position:absolute;
  color:#bdc3c7;
  font-family: 'Ubuntu Mono', sans-serif;
}
.days:after{
  position:absolute;
  color:#bdc3c7;
  font-family: 'Ubuntu Mono', sans-serif;
}